<footer class="c-footer js-in-page-nav-footer" role="contentinfo">
    <div class="o-section o-wrap o-wrap--x-large">
        {{#if cta}}
        <div class="c-footer__planner">
            <h3 class="c-footer__heading">{{{heading}}}</h3>
            
            <a href="{{url}}" class="c-button c-button--primary-neutral">
                {{button}}
                <svg class="u-icon u-icon--arrow-right">
                    <use xlink:href="#icon--arrow-right"></use>
                </svg>
            </a>
        </div>
        {{/if}}

        <ul class="c-footer__social">
            {{#each social}}
                <li class="c-footer__social__item">
                    <a href="{{url}}" class="c-footer__social__link c-footer__social__link--{{icon}}" target="_blank">
                        <svg class="u-icon u-icon--{{icon}}">
                            <use xlink:href="#icon--{{icon}}"></use>
                        </svg>
                        <span class="u-hide-text">{{text}}</span>
                    </a>
                </li>
            {{/each}}
        </ul>
    </div>
</footer>